.home {
    background-image: url(./wallpaper.jpg);
    background-repeat: no-repeat;
    height: 83vh;
}

.container {
    height: 5vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.caixa {
    width: 250px;
    background-color: rgb(53, 52, 52);
    border-radius: 10px;    
}

.home img {
    width: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100%;
}

.content img{
    margin-right: 7px;
}

.social {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.social a:hover {
    opacity: 100%;
}

.social ul li {
    display: inline-block;
    margin: 1rem .4rem;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.social ul li:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0CF;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}

.social ul li:hover {
    transform: scale(1.25,1.25);
}

.social ul li:hover:after {
    opacity: 1;
}

.social ul {
    margin-right: 45px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.social ul li i {
    margin-top: 15px;
}

.instagram {
    background-color: #C13584;
}

.github {
    background-color: #333;
}

.twitter {
    background-color: #1DA1F2;
}

.social i {
    color: #fff;
}

.footer {
    color: #5a5a5a;
    display: block;
    font-size: 15px;
}

.projetos {
    margin-top: 30px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}


