body {
    color: #fff;
}

.title {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#nav img {
    width: 60px;
    height: 60px;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 5px;
}

#nav {
    display: flex;
    padding: 0.1em 1em;
}

#nav a{
    text-decoration: none;
    color: #fff;
}

#nav a:hover {
    opacity: 70%;
    transition: 0.3s;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

ul li {
    margin-right: 1em;
}

.links-nav {
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: flex;
}