body {
    color: #fff;
}

#nav a {
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

#nav a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

#nav a:hover {
    color: #fff;
}

#nav a:hover:after {
    width: 100%;

}

#nav {
    display: flex;
    padding: 0.1em 1em;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

ul li {
    margin-right: 1em;
}

.links-nav {
    align-items: center;
    text-align: center;
    justify-content: space-between;
}