:root {
    --surface-color: #05010f;
    --curve: 40;
  }

  .img-card {
    width: 375px;
    height: 375px;
    border-radius: 21px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }

  a {
    text-decoration: none;
    color: aquamarine;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .cards a {
    color: aquamarine;
    text-decoration: none;
  }
  
  .card {
    border: 1px solid #1a1a1a;
    position: relative;
    display: block;
    height: 100%;  
    overflow: hidden;
    text-decoration: none;
    border-radius: 21px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;       
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;

    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }    
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #fff;
    display: flex;
    justify-content: space-between;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "Roboto", sans-serif;  
    font-size: .8em; 
    color: #bdbfd7;  
  }
  
  .card__status {
    font-size: .8em;
    color: #c4bdd7;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "Roboto", sans-serif;  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }   

  .gittube {
    padding-top: 0px;
  }

  